.bonus {
  width: 280px;
  min-height: 289px;
  // margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

.bonus__wrapper {
  width: 280px;
  min-height: 289px;
  background: @green;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .bonus__wrapper {
    background: @green;
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.bonus__gift {
  margin-top: 63px;
}

.bonus__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  width: 180px;
  margin-top: 61px;
}

@media (min-width: @tablet-width) {
  .bonus {
    width: 708px;
    min-height: 275px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 73px;
    margin-bottom: 0;
  }

  .bonus__wrapper {
    width: 708px;
    min-height: 200px;
    background: @green;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 105px;
    box-sizing: border-box;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bonus__wrapper {
      background: @green;
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .bonus__gift {
    margin-top: 65px;
  }

  .bonus__title {
    text-align: left;
    margin-top: 72px;
  }
}

@media (min-width: @desktop-width) {
  .bonus {
    position: absolute;
    width: 245px;
    min-height: 290px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 65px;
    margin-bottom: 0;
    top: 50px;
    right: 40px;
  }

  .bonus__wrapper {
    width: 245px;
    min-height: 290px;
    background: @green;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    padding-left: 95px;
    padding-right: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bonus__wrapper {
      background: @green;
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .bonus__title {
    text-align: center;
    margin-top: 60px;
  }
}
