.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts--grey {
  background-color: @grey;
}

.contacts_list {
  padding-left: 20px;
  padding-top: 13px;
  // margin-top: 32px;
  display: flex;
  min-height: 115px;
  box-sizing: border-box;
}

.contacts__dealers {
  width: 180px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts_address {
  font-family: "Arial", sans-serif;
  width: 200px;
  line-height: 20px;
}

.contacts_map {
  // margin-top: 10px;
}
