.extra {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.extra__product {
  min-height: 115px;
  border-bottom: 1px solid @border-grey;
}

.extra__title {
  position: relative;
  margin: 0;
  margin-top: 28px;
  padding-bottom: 33px;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid @border-grey;

  &::after {
    content: "";
    position: absolute;
    border-top: 3px solid @green;
    right: -20px;
    top: 12px;
    width: 55px;
  }
}

.extra__name {
  margin: 0;
  margin-top: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra__descr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  margin-top: 13px;
}

.extra__text {
  margin: 0;
}

.extra__cost {
  margin: 0;
}

.extra__btn {
  width: 280px;
  min-height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: @green;
  text-align: center;
  text-transform: uppercase;
  margin-top: 13px;
}

.extra__order {
  font-size: 16px;
  line-height: 20px;
  color: white;
}

@media (min-width: @tablet-width) {
  .extra {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .extra__title {
    position: relative;
    width: 708px;
    margin-top: 66px;
    padding-left: 37px;
    padding-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
    border-bottom: none;
    box-sizing: border-box;

    &::after {
      // content: "";
      // position: absolute;
      // border-top: 3px solid #68b738;
      right: -30px;
      top: 20px;
      width: 325px;
    }

    &::before {
      content: "";
      position: absolute;
      border-top: 3px solid #68b738;
      left: -30px;
      top: 20px;
      width: 30px;
    }
  }

  .extra__product {
    // min-height: 115px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    width: 708px;
    padding-left: 38px;
    padding-right: 36px;
    min-height: 138px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-sizing: border-box;

    &:nth-child(5) {
      border-bottom: 1px solid #cdcdcd; // ?
    }
  }

  .extra__name {
    width: 400px;
    margin-top: 24px;

    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
  }

  .extra__descr {
    width: 230px;
    font-size: 16px;
    line-height: 20px;
    // padding-left: 4px;

    box-sizing: border-box;
  }

  .extra__descr--water {
    padding-left: 70px;
  }

  .extra__descr--milk {
    padding-left: 85px;
  }

  .extra__descr--vitamin {
    padding-left: 14px;
  }

  // .extra__text {
  //   margin: 0;
  // }
  //
  // .extra__cost {
  //   margin: 0;
  // }

  .extra__btn {
    width: 635px;
    margin-top: 0;
    // min-height: 40px;
    // padding-top: 10px;
    // box-sizing: border-box;
    // background-color: @green;
    // text-align: center;
    // text-transform: uppercase;
    // letter-spacing: 1px;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    width: 1300px;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 85px;
    position: relative;
  }

  .extra__title {
    position: relative;
    width: 1220px;
    margin: 0;
    // padding-left: 37px;
    padding-bottom: 78px;
    // font-size: 36px;
    // line-height: 36px;
    border-bottom: none;
    // box-sizing: border-box;

    &::after {
      // content: "";
      // position: absolute;
      // border-top: 3px solid #68b738;
      right: -150px;
      top: 20px;
      width: 957px;
    }

    &::before {
      content: "";
      position: absolute;
      border-top: 3px solid #68b738;
      left: -70px;
      top: 20px;
      width: 70px;
    }
  }

  .extra__product {
    // min-height: 115px;
    // border: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
    margin-left: 38px;
    width: 900px;
    padding-left: 3px;
    padding-right: 0;
    min-height: 73px;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: baseline;
    // box-sizing: border-box;

    &:nth-child(5) {
      border-bottom: 1px solid #cdcdcd; // ?
    }
  }

  .extra__btn {
    width: 245px;
    margin-left: 35px;
    // min-height: 40px;
    // padding-top: 10px;
    // box-sizing: border-box;
    // background-color: @green;
    // text-align: center;
    // text-transform: uppercase;
    // letter-spacing: 1px;
  }

  .extra__name {
    width: 260px;
    margin-top: 25px;
    //
    // font-size: 20px;
    // line-height: 20px;
    // box-sizing: border-box;
  }

  .extra__descr {
    width: 290px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 67px;

    box-sizing: border-box;
  }

  .extra__descr--water,
  .extra__descr--milk,
  .extra__descr--vitamin {
    padding-left: 0;
  }
}
