.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  height: 235px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: @grey;
  box-sizing: border-box;
}

.footer_title {
  width: 280px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid @border-grey;
}

.footer__copyright {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding-top: 3px;
}

.footer__copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .footer {
    max-width: 768px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    flex-direction: row;
    height: 150px;
    align-items: normal;
  }

  .footer_title {
    width: 140px;
    margin-top: 60px;
    border-bottom: none;
  }

  .footer__copyright {
    width: 165px;
    margin-left: 98px;
    margin-top: 13px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    max-width: 1440px;
    padding-left: 105px;
    padding-right: 110px;
    padding-top: 0;
    justify-content: space-between;
  }

  .footer_title {
    margin-top: 60px;
  }

  .footer__copyright {

    margin-top: 0;
    padding-top: 0;
  }
}
