.introduction {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.introduction__hero {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 415px;
  text-align: center;
  padding-top: 25px;
}

.introduction__title {
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin: 0;
}

.introduction__descr {
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  margin-top: 25px;
}

.introduction__product {
  position: absolute;
  top: 165px;
  left: 20px;
}

.introduction__btn {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: @green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction__link {
  color: white;
  line-height: 18px;
  text-transform: uppercase;
}
