.introduction {
  width: 320px;
  min-height: 480px;
  margin: 0 auto;
  margin-top: -305px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction__title {
  width: 290px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin: 0;
  margin-top: 28px;
  text-align: center;
}

.introduction__descr {
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  margin-top: 22px;
}

.introduction__product {
  position: absolute;
  top: 165px;
  left: 20px;
}

.introduction__btn {
  width: 280px;
  height: 40px;
  margin: auto 0;
  margin-top: 286px;
  background-color: @green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction__link {
  color: white;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .introduction {
    width: 768px;
    min-height: 800px;
    padding-left: 117px;
    align-items: flex-start;
    margin-top: 25px;
    box-sizing: border-box;
  }

  .introduction__wrapper {
    align-items: flex-start;
    width: 425px;
  }

  .introduction__title {
    color: #111111;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-top: 30px;
  }

  .introduction__descr {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    margin-top: 40px;
  }

  .introduction__product {
    position: absolute;
    top: 230px;
    left: 30px;
    width: 709px;
    height: 460px;
  }

  .introduction__btn {
    margin: 0;
    margin-top: 23px;
    margin-left: 3px;
    width: 245px;
    height: 52px;
    z-index: 1;
  }

  .introduction__link {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .introduction {
    width: 1440px;
    padding-left: 190px;
    min-height: 555px;
    align-items: flex-start;
    margin-left: 0;
  }

  .introduction__title {
    width: 425px;
}

  .introduction__wrapper {
    margin-top: 49px;
  }

  .introduction__product {
    position: absolute;
    top: 0;
    left: 560px;
  }

  .introduction__btn {
    margin-top: 35px;
    margin-left: 0;
  }
}
