.main-nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav__menu {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.main-nav__logo {
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid @border-grey;
  height: 65px;
  margin: 0;
  padding: 0;
}

.main-nav__logo-image {
  width: 33px;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__logo-link {
  margin-left: 56px;
  margin-top: 3px;
}

// изменили кнопку
.main-nav__btn {
  position: absolute;
  top: -56px;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 35px;
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

// добавили гамбургер когда класс main-nav--closed
.main-nav__menu--closed .main-nav__btn::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #111111;
  box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111;
}

// добавили крестик когда класс main-nav--opened
.main-nav__menu--opened .main-nav__btn {
  top: -56px;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 20px;
    left: 5px;
    width: 25px;
    height: 2px;

    background-color: #111111;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

// когда класс .main-nav--closed то скрываем .main-nav__popup
.main-nav__menu--closed .main-nav__popup {
  display: none;
}

.main-nav__popup {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.main-nav__popup-item {
  height: 65px;
  border-bottom: 1px solid @border-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

// [href] применять только для href
.main-nav__popup-link {
  letter-spacing: 1px;

  &:hover[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .main-nav__logo {
    border-bottom: none;
  }

  .main-nav__logo-image {
    width: 173px;
    margin-left: 3px;
    margin-top: 45px;
  }

  .main-nav__logo-link {
    display: none;
  }

  .main-nav__menu {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    width: 440px;
    margin-top: 20px;
  }

  .main-nav__btn {
    display: none;
  }

  // показывет меню если на мобильной версии оно спрятано
  .main-nav__menu--closed .main-nav__popup {
    display: flex;
  }

  .main-nav__popup {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__popup-link {
    letter-spacing: 0;
  }

  .main-nav__popup-link--active {
    border-bottom: 2px solid @green;
    line-height: 38px;
    padding-top: 3px;
  }

  .main-nav__popup-item {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    max-width: 1440px;
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav--color .main-nav--color {
    color: white;
    font-weight: normal;
  }

  .main-nav__menu {
    position: relative;
    font-size: 20px;
    width: 680px;
    padding-right: 40px;
    padding-left: 200px;
    box-sizing: border-box;
    margin-top: 0;
  }

  .main-nav__logo-image {
    width: 202px;
    margin-left: 0;
    margin-top: 105px;
  }

  .main-nav__popup {
    width: 480px;
    margin-top: 53px;
  }

  // изменяет цвет текста у класса .main-nav__popup-link, если в разметке есть класс .main-nav__menu--color
  .main-nav__menu--color .main-nav__popup-link {
    color: white;
    font-weight: normal;
  }

  // изменяет цвет текста у класса .main-nav__popup-link--active, если в разметке есть класс .main-nav__menu--color
  .main-nav__menu--color .main-nav__popup-link--active {
    border-bottom: 2px solid white;
    line-height: 45px;
  }
}
