.main-nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav__bg {
  width: 320px;
  height: 305px;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid @border-grey;
  height: 65px;
  margin: 0;
  padding: 0;
}

.main-nav__item-logo {
  width: 33px;
  // height: 38px;
  margin-left: 20px;
}

.main-nav__logo {
  display: block;
}

.main-nav__item-header {
  margin-left: -5px;
}

.main-nav__item-open {
  margin-right: 20px;
}

.main-nav__menu {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.main-nav__popup {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.main-nav__popup-item {
  height: 65px;
  border-bottom: 1px solid @border-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .main-nav__menu {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    width: 440px;
    margin-top: 14px;
  }

  .main-nav__bg {
    display: none;
  }

  .main-nav__list {
    width: 192px;
    justify-content: flex-start;
    border: none;
  }

  .main-nav__item-logo {
    width: 175px;
    margin-left: 0;
    margin-top: 29px;
  }

  .main-nav__item-header {
    display: none;
  }

  .main-nav__item-open {
    display: none;
  }

  .main-nav__popup {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__popup-item {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__menu {
    position: relative;
    font-size: 20px;
    width: 680px;
    padding-right: 110px;
    padding-left: 65px;
    box-sizing: border-box;
    margin-top: 45px;
  }

  .main-nav__bg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 680px;
    height: 700px;
  }

  .main-nav__popup {
    width: 480px;
  }

  .main-nav__list {
    width: 245px;
    margin-left: 100px;
    margin-top: 29px;
  }

  .main-nav__item-logo {
    width: 202px;
  }
}
