.social {
  width: 280px;
  border-bottom: 1px solid @border-grey;
  margin-top: 25px;
  padding-bottom: 15px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;

  & li:nth-child(1) {
    margin-left: 75px;
  }

  & li:nth-child(2) {
    margin-left: 37px;
  }

  & li:nth-child(3) {
    margin-left: 40px;
  }
}
